@font-face {
	font-family: 'Misans';
	src: url(../../assets/fonts/assets//font//MiSans-Medium.ttf?h=28cf078f0d6783f0bc362d768aeb340a) format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}