@font-face {
	font-family: 'Misans W6';
	src: url(../../assets/fonts/MiSans-Demibold.woff2?h=a17c14a43fe69d395ebff03e2872ea51) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}