@font-face {
	font-family: 'Misans W4';
	src: url(../../assets/fonts/MiSans-Regular.ttf?h=f5a2848c4779d011bdf42be6c4b3913e) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}