@font-face {
	font-family: 'Misans W6';
	src: url(../../assets/fonts/MiSans-Demibold.woff2?h=479da4b41a256a4f1493ddb1c1bd29bb) format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}