@font-face {
	font-family: 'Misans W4';
	src: url(../../assets/fonts/MiSans-Regular.woff2?h=8fd084b214fb23e1dee9c1eff5dae6ea) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}