@font-face {
	font-family: 'Misans W4';
	src: url(../../assets/fonts/MiSans-Regular.woff2?h=79bf9070ea03b48d4f57c0f55fe4cfea) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}